@media screen and (max-width: 600px) {
  .container {
    width: 90%;
    margin: 20px auto;
  }
  .section-heading {
    font-size: 24px;
    margin-bottom: 16px;
    text-align: center;
  }
  .section-description {
    width: 80%;
    padding-left: 0px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
  }
  /* Nav bar Section */
  .logo-container h1 {
    color: #131318;
    font-size: 1.35rem;
    font-weight: 800;
  }
  .menu-bar {
    display: block;
  }
  .nav-anchors {
    display: none;
  }
  /* Banner section */
  .banner {
    min-height: 483px;
    background-position: center;
  }
  .banner-text {
    text-align: center;
    width: 90%;
    padding: 0;
    margin: 32px auto;
  }
  .banner-text h1 {
    font-size: 1.375rem;
    margin-bottom: 8px;
  }
  .banner-text p {
    font-size: 0.875rem;
    line-height: 1.3rem;
  }
  .banner-input {
    flex-direction: column;
    width: 90%;
  }

  /* Popular-tour */
  .Popular-tour, .video-section {
    flex-direction: column;
    margin-bottom: 30px;
  }
  .section-dis, .video-section-text {
    width: 100%;
  }
  .section-dis h1, .video-section-text h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .section-dis p, .video-section-text p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .section-dis li, .video-section-text li {
    font-size: 14px;
    margin-bottom: 12px;
  }
  .section-dis button, .video-section-text button {
    margin-top: 30px;
    margin-bottom: 26px;
  }
  .section-img img {
    width: 100%;
    height: 100%;
  }

  /* Destination section */
  .grid-imgages {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    gap: 16px 0px;
  }

  .image1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .image2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .image3 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .image4 {
    grid-area: 4 / 1 / 5 / 2;
  }
  .image5 {
    grid-area: 5 / 1 / 6 / 2;
  }
  .image6 {
    grid-area: 6 / 1 / 7 / 2;
  }
  .image7 {
    grid-area: 7 / 1 / 8 / 2;
  }

  /* ChooseUs-Section */
  .description-grids {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
  }
  .grid-1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  
  .grid-2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  
  .grid-3 {
    grid-area: 3 / 1 / 4 / 2;
  }

  /* video-section */
  .video-section-img{
    min-width: 90%;
  }
  .video-section-img-text h1 {
    width: 50%;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    padding-top: 150px;
    margin: 0 auto 150px auto;
  }
  .video-section-img-controls img{
    width: 97%;
    padding-left: 20px;
  }

  /* Bonus: Review_section */
  .review-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    justify-content: center;
    padding: 20px;
  }
  .review-card{
    margin: 10px auto;
    padding: 10px;
  }
  /* Newsletter-Section */
  .newsletter {
    flex-direction: column;
    gap: 20px;
  }
  .newsletter-input {
    width: 100%;
  }
  .newsletter-img{
    min-width: 100%;
  }
  .discount {
    width: 214px;
    top: 70%;
    left: 50%;
  }
  .discount h1 {
    font-size: 16px;
  }
  .discount h2 {
    font-size: 22px;
  }
  /* Footer  */
  .footer-text{
    width: 100%;
  }

}
