@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 81%;
  margin: 0px auto 100px auto;
}
.primary-text {
  font-family: Mulish;
  font-style: normal;
  line-height: normal;
}
::placeholder {
  color: rgba(19, 19, 24, 0.5);
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
}
.section-heading {
  color: #131318;
  font-family: Mulish;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 30px;
  text-align: center;
}
.section-description {
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  text-align: center;
  width: 40%;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 48px;
}

/* Nav bar Section */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
}
.logo-container {
  display: flex;
  align-items: center;
}
.logo-container h1 {
  color: #131318;
  font-size: 2.25rem;
  font-weight: 800;
}
.menu-bar {
  display: none;
}
.nav-anchors ul {
  display: flex;
  gap: 44px;
}
.nav-anchors li {
  list-style: none;
}
.nav-anchors a {
  text-decoration: none;
  font-family: Mulish;
  font-style: normal;
  line-height: normal;
  color: #424247;
  font-size: 1.125rem;
}

/* Banner section */
.banner {
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/image-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-text {
  text-align: center;
  width: 60%;
  padding-top: 106px;
  margin-bottom: 48px;
}
.banner-text h1 {
  font-size: 4rem;
  font-weight: 800;
  color: #fff;
  margin-bottom: 24px;
}
.banner-text p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  color: #fff;
}
.banner-input {
  display: flex;
  gap: 20px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 16px;
}
.banner-input input {
  min-width: 174px;
  border-radius: 8px;
  border: 0;
  outline: none;
  padding: 16px;
  cursor: text;
}
.banner-input select {
  min-width: 174px;
  border-radius: 8px;
  border: 0;
  outline: none;
  padding: 16px;
  color: rgba(19, 19, 24, 0.5);
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  background: #fff;
}
button {
  border-radius: 8px;
  background: #ff5400;
  height: 52px;
  color: #fff;
  font-size: 20px;
  padding: 15px;
  border: 0;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Popular-tour */
.Popular-tour,
.video-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-dis,
.video-section-text {
  width: 40%;
}
.section-dis h1,
.video-section-text h1 {
  text-align: start;
}
.section-dis p,
.video-section-text p,
.newsletter-input p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 30px;
}
.section-dis ul,
.video-section-text ul {
  list-style-position: inside;
}
.section-dis li,
.video-section-text li {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding-left: 10px;
  margin-bottom: 30px;
}
.section-dis button {
  margin-top: 50px;
}
.section-img img {
  width: 100%;
  height: 100%;
}
/* Destination section */
.grid-imgages {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 24px;
}
.image {
  min-height: 300px;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 28px;
  padding-top: 130px;
  font-weight: 800;
}
.image1 {
  grid-area: 1 / 1 / 2 / 7;
  background: url("../Images/image-6.png");
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
}
.image2 {
  grid-area: 1 / 7 / 2 / 13;
  background: url("../Images/image-9.png");
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
}
.image3 {
  grid-area: 2 / 1 / 3 / 5;
  background: url("../Images/image-7.png");
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
}
.image4 {
  grid-area: 2 / 5 / 3 / 10;
  background: url("../Images/image-8.png");
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
}
.image5 {
  grid-area: 2 / 10 / 3 / 13;
  background: url("../Images/image-11.png");
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
}
.image6 {
  grid-area: 3 / 1 / 4 / 6;
  background: url("../Images/image-13.png");
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
}
.image7 {
  grid-area: 3 / 6 / 4 / 13;
  background: url("../Images/image-12.png");
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ChooseUs-Section */

.description-grids {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px;
  grid-auto-flow: row;
}
.description-grid {
  padding: 32px;
}
.description-grid img {
  margin-bottom: 32px;
}
.description-grid h1,
.card-heading {
  margin-bottom: 18px;
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-weight: 800;
}
.description-grid p,
.card-des {
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.grid-1 {
  grid-area: 1 / 1 / 2 / 3;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}

.grid-2 {
  grid-area: 1 / 3 / 2 / 5;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}

.grid-3 {
  grid-area: 2 / 2 / 3 / 4;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}

/* deals-section */
.deal-card {
  border-radius: 16px;
  background: url("../Images/image-2.png"), lightgray 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: right;
  margin-bottom: 26px;
}
.card-main {
  width: 579px;
  height: 389px;
  padding: 50px;
  margin: 56px;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
}
.card-top {
  display: flex;
  gap: 26px 16px;
  margin-bottom: 26px;
}
.card-top-element {
  display: flex;
  height: 24px;
  gap: 5px;
}
.card-top-element p {
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
}
.card-price {
  margin-top: 20px;
  color: #ff5400;
  font-family: Mulish;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 26px;
}
.card-btn{
  font-weight: 800;
}
.deal-card-2 {
  border-radius: 16px;
  background: url("../Images/image-3.png"), lightgray 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: left;
  margin-bottom: 26px;
}
/* video-section */
.video-section-text li {
  color: #131318;
  font-weight: 700;
}
.video-section-img {
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      #25252b4b -31.96%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/image-4.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 610px;
  min-height: 424px;
}
.video-section-img-text h1 {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  width: 50%;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  padding-top: 140px;
  margin: 0 auto 130px auto;
}
.video-section-img-controls img {
  padding-left: 26px;
}

/* Bonus: Review_section */
.overall-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.overall-rating .rating {
  margin-bottom: 0;
  padding-top: 10px;
}
.overall-rating .rating img {
  width: 200%;
}
.review-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  padding: 20px;
}
.review-card {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(251, 181, 99, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.473);
  border-radius: 8px;
}
.customer-info {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.customer-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}
.customer-name {
  color: #131318;
  font-size: 20px;
  font-weight: 700;
}
.review-text {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.rating {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.star {
  margin-right: 5px;
}
.timestamp {
  color: #777;
  font-size: 12px;
}
/* Newsletter-Section */
.newsletter {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.newsletter-input {
  border-radius: 16px;
  border: 1px solid #ff5400;
  width: 45%;
}
.newsletter-input h1 {
  text-align: start;
  font-size: 26px;
  margin-bottom: 24px;
}
.newsletter-input {
  padding: 42px;
}
.newsletter-input hr {
  color: rgba(19, 19, 24, 0.1);
  margin-bottom: 24px;
}
.newsletter-input-input {
  display: flex;
  flex-direction: column;
}
.newsletter-input-input input {
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  height: 52px;
  border: 0;
  margin-bottom: 20px;
  padding-left: 20px;
  outline: none;
}
.newsletter-img {
  border-radius: 16px;
  background: url("../Images/image-10.png"), lightgray 50%;
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 100%; */
  min-height: 422px;
  min-width: 672px;
  position: relative;
}
.discount {
  border-radius: 16px;
  background: #ff5400;
  width: 324px;
  padding: 20px;
  position: absolute;
  transform: rotate(-19.628deg);
  top: 62%;
  left: 50%;
}
.discount h1 {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 24px;
  font-weight: 400;
}
.discount h2 {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 32px;
  font-weight: 800;
}

/* Footer  */
footer {
  background: rgba(19, 19, 24, 0.05);
  height: 100%;
}
.footer {
  margin-bottom: 0;
}
.footer-text {
  padding-top: 110px;
  width: 769px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.footer-text p {
  color: #5a5a5d;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 30px;
}
#hori {
  color: rgba(19, 19, 24, 0.1);
  width: 100%;
  margin-bottom: 50px;
}
#Social {
  margin-bottom: 50px;
}
.copyright p {
  color: #131318;
  font-family: Inter;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 110px;
}
